<header>
  <div class="container">
    <ul class="d-flex justify-between">
      <li>WILLIAM LEE</li>
      <li>BASED IN TAIWAN</li>
      <li>CURRENTLY FRONT END <br> ENGINEER AT HEXSCHOOL</li>
      <li><a href="#">CONTACT ME</a></li>
    </ul>
  </div>
</header>