<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>index</title>
</head>

<body>
  <%- include('./layout/header'); -%>

    <div class="banner">
      <div class="container">
        <div class="d-flex items-center">
          <img class="mr-24" src="../assets/images/people.png" alt="picture-handsomeMan">
          <div class="banner-text  d-flex flex-col">
            <h2>Hi</h2>
            <h2>I’m a front-end <br> developer</h2>
            <h1 class="self-end">William</h1>
            <a href="#" class="self-end">contact me<img src="../assets/images/arrow_outward.svg" alt="arrow icon"
                class="ml-4"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="introduction">
      <div class="container d-flex">
        <div class="section-left mr-24">
          <h2>Introduction</h2>
          <p>Hi, I'm William Lee, a Front-End Developer with a passion for building beautiful and responsive websites
            that provide an optimal user experience.</p>
          <img class="mr-16" src="../assets/images/sparkle-sm.png" alt="sparkle-sm">
          <img class="mr-16" src="../assets/images/sparkle-sm.png" alt="sparkle-sm">
          <img src="../assets/images/sparkle-sm.png" alt="sparkle-sm">
        </div>
        <div class="section-right d-flex">
          <img class="mr-24" src="../assets/images/sparkle.png" alt="sparkle">
          <img class="mr-24" src="../assets/images/photographer.png" alt="photographer">
          <img src="../assets/images/people-2.png" alt="people-2">
        </div>
      </div>
    </div>
    <div class="container aboutMe d-flex justify-between items-center">
      <ol class="card-group d-flex flex-wrap justify-between">
        <li class="card mb-24">
          <h3>01</h3>
          <h3>Attention to Detail</h3>
          <p>Meticulous code analysis and optimization.</p>
        </li>
        <li class="card mb-24">
          <h3>02</h3>
          <h3>Adaptability</h3>
          <p>Swift learning of new technologies.</p>
        </li>
        <li class="card">
          <h3>03</h3>
          <h3>Problem Solver</h3>
          <p>Identifying and resolving issues.</p>
        </li>
        <li class="card">
          <h3>04</h3>
          <h3>Team Player</h3>
          <p>Collaborates and shares ideas.</p>
        </li>
      </ol>
      <div class="about-text">
        <h2>About Me</h2>
        <p>With over 5 years of experience, I'm proficient in HTML, CSS, JavaScript, jQuery, and React. I have a strong
          understanding of user experience design and accessibility. I'm always learning new technologies and techniques
          to stay up-to-date in the field.</p>
      </div>
    </div>
    <div class="contactMe">
      <div class="container d-flex items-center justify-between">
        <div class="contactMe-text d-flex">
          <h2 class="mr-16">CONTACT ME</h2>
          <img src="../assets/images/trending_flat_black_24dp 1.png" alt="arrow-white-flat">
        </div>
        <ul class="icon-group d-flex">
          <li class="mr-20"><a href="#"><img src="../assets/images/discord.png" alt="discord"></a></li>
          <li class="mr-20"><a href="#"><img src="../assets/images/instagram.png" alt="instagram"></a></li>
          <li><a href="#"><img src="../assets/images/message.png" alt="message"></a></li>
        </ul>
      </div>
    </div>
    <div class="container my-projects">
      <h2 class="mb-16">My Projects</h2>
      <div class="my-projects-content d-flex">
        <img class="mr-24" src="../assets/images/Rectangle 10.png" alt="mac-notebook">
        <div class="my-projects-content-right d-flex flex-col justify-between">
          <div class="top d-flex">
            <img class="mr-24" src="../assets/images/Rectangle 15.png" alt="code-on-screen">
            <div class="top-text d-flex flex-col justify-between">
              <p>I've worked on a variety of websites, including e-commerce sites, blogs, and landing pages. I take
                pride
                in creating clean, efficient, and user-friendly code.
              </p>
              <a class="self-start" href="#">
                SEE MORE
                <img src="../assets/images/arrow_outward-white.png" alt="white-arrow">
              </a>
            </div>
          </div>
          <div class="bottom d-flex justify-between">
            <img src="../assets/images/Rectangle 14.png" alt="a hand taking mobile">
            <img src="../assets/images/Rectangle 29.png" alt="two computers">
          </div>
        </div>


      </div>
    </div>

    <%- include('./layout/footer'); -%>

      <script type="module" src="../main.js"></script>
</body>

</html>